<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Projects Page</title>
    </head>
    <body>
        {{> header}}
        <ul>
            <li><a href={{link1}}>Project sample 1</a></li>
            <li><a href={{link2}}>Project sample 1</a></li>
            <li><a href={{link3}}>Project sample 1</a></li>
        </ul>

        {{> footer}}
    </body>
</html>